@import url(https://fonts.google.com/specimen/Roboto);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    background-color: papayawhip;
}

.container {
    max-height: 800px;
    max-width: 400px;
    margin-inline: auto;
    margin-top: 100px;
    background-color: #d5d29b;
    display: flex;
    gap: 1rem;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-evenly;
    animation-duration: 20s;
    animation-name: scaleup;
    animation-iteration-count: infinite;
}

@keyframes scaleup {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.box {
    min-width: 100px;
    height: 100px;
    background-color: #ffce80;
    color: #e36233;
    font-size: 2rem; 
    transition: 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box:hover {
    background-color: #e36233;
    color: #ffce80;
    z-index: 2; 
    transition: 400ms; 
}

.box:nth-child(1):hover {
    transform: translate(-20px,-20px);
}

.box:nth-child(2):hover {
    transform: translate(20px,-20px);
}

.box:nth-child(3):hover {
    transform: translate(-20px);
}

.box:nth-child(4):hover {
    transform: translate(20px);
}

.box:nth-child(5):hover {
    transform: translate(-20px,20px);
}

.box:nth-child(6):hover {
    transform: translate(20px,20px);
}